<!DOCTYPE html>
<html data-theme="winter">
  <head>
    <title>Higher Eduction Access Prediction System</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/select2.min.css" rel="stylesheet" />
  </head>
  <body>
    <div id="root">
      <div class="drawer lg:drawer-open">
        <input id="left-sidebar-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col">
          <div class="navbar sticky top-0 bg-base-100 z-10 shadow-md">
            <div class="flex-1">
              <label
                for="left-sidebar-drawer"
                class="btn btn-primary drawer-button lg:hidden"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="h-5 inline-block w-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                  ></path>
                </svg>
              </label>
              <h1 class="text-2xl font-semibold ml-2"></h1>
            </div>
          </div>
          <div class="card w-full p-6 bg-base-100 shadow-xl mt-2">
            <div class="text-xl font-semibold">Quiz Create</div>
            <div class="divider mt-2"></div>
            <div class="h-full w-full pb-6 bg-base-100">
              <form action="/admin/quiz/create" method="post">
                <input type="hidden" id="questions" value="<%= questions %>" />
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-2">
                  <div class="form-control w-full undefined -mb-3">
                    <label class="label">
                      <span class="label-text text-base-content undefined">
                        University List
                      </span>
                    </label>
                    <br />
                    <select
                      class="select select-bordered validator w-full h-[10vh]"
                      name="category"
                      required
                      multiple
                    >
                      <option value="University">University</option>
                      <option value="Computer University">
                        Computer University
                      </option>
                      <option value="Technological University">
                        Technological University
                      </option>
                      <option value="Medicine University">
                        Medicine University
                      </option>
                      <option value="Agricultural University">
                        Agricultural University
                      </option>
                      <option value="University of Culture">
                        University of Culture
                      </option>
                      <option value="University of Traditional Medicine">
                        University of Traditional Medicine
                      </option>
                      <option value="Institute of Economics">
                        Institute of Economics
                      </option>
                      <option value="Institute of Nursing">
                        Institute of Nursing
                      </option>
                      <option value="Education College">
                        Education College
                      </option>
                      <option value="University of Foreign Languages">
                        University of Foreign Languages
                      </option>
                    </select>
                    <p class="validator-hint">Question Type is required</p>
                  </div>
                  <div class="form-control w-full undefined -mb-3">
                    <label class="label">
                      <span class="label-text text-base-content undefined">
                        Title
                      </span>
                    </label>
                    <input
                      type="text"
                      name="title"
                      placeholder="Question"
                      class="input input-bordered w-full validator"
                      required
                      minlength="3"
                      title="Only letters, numbers or dash"
                    />
                    <p class="validator-hint">Must be at least 3 characters</p>
                  </div>

                  <div class="form-control w-full undefined -mb-3">
                    <label class="label">
                      <span class="label-text text-base-content undefined">
                        Total Mark
                      </span>
                    </label>
                    <input
                      type="number"
                      name="mark"
                      readonly
                      id="mark"
                      placeholder="Marks"
                      class="input input-bordered w-full validator"
                      required
                      min="1"
                      max="100"
                      title="Only numbers"
                    />
                    <p class="validator-hint">
                      Total Mark is required, Min 1 and Max 100
                    </p>
                  </div>
                  <div class="form-control w-full undefined -mb-3">
                    <label class="label">
                      <span class="label-text text-base-content undefined">
                        Question
                      </span>
                    </label>
                    <div class="border p-4 rounded bg-base-200 relative">
                      <select
                        class="question-select w-full"
                        name="question"
                      ></select>
                    </div>
                  </div>
                  <div class="form-control w-full undefined -mb-3">
                    <label class="label">
                      <span class="label-text text-base-content undefined">
                        Duration Minutes
                      </span>
                    </label>
                    <input
                      type="number"
                      name="durationMinutes"
                      placeholder="Duration Minutes"
                      class="input input-bordered w-full validator"
                      required
                      min="1"
                      max="1000"
                      title="Only numbers"
                    />
                    <p class="validator-hint">
                      Duration Minutes is required, Min 1 and Max 100
                    </p>
                  </div>

                  <div class="form-control w-full undefined -mb-3">
                    <label class="label">
                      <span class="label-text text-base-content undefined">
                        Description
                      </span>
                    </label>
                    <textarea
                      name="description"
                      class="textarea textarea-bordered w-full"
                      placeholder="Description"
                    ></textarea>
                  </div>

                  <!-- <div class="w-full h-full flex items-center justify-center">
                    <button class="btn btn-primary" type="button" id="addBtn">
                      Add Question
                    </button>
                  </div> -->
                </div>
                <div class="divider"></div>
                <div
                  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
                  id="dailyTask"
                ></div>
                <br />
                <div class="mt-3">
                  <button type="submit" class="btn btn-primary float-right">
                    Add
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <% include ../../partial/adminDrawer %>
      </div>
    </div>
  </body>
  <script src="/javascripts/jquery-3.7.1.min.js"></script>
  <script src="/javascripts/select2.min.js"></script>
  <script>
    $(function () {
      const questions = JSON.parse($("#questions").val());
      const data = [];
      questions.map((item) => {
        data.push({ id: item._id, text: item.question });
      });
      $(`.question-select`).select2({
        data: data,
      });

      $(".question-select").on("change", function () {
        var selectedValue = $(this).val();
        const filteredVal = questions.filter(
          (item) => item._id.toString() == selectedValue
        );
        $("#mark").val(filteredVal[0].marks);
      });
      // const insertedQuestion = [];
      // var initCount = 0;
      // console.log(questions);
      // $("#addBtn").click(function () {
      //   const data = [];
      //   questions.map((item) => {
      //     data.push({ id: item._id, text: item.question });
      //   });
      //   const divData = document.createElement("div");
      //   divData.className = "border p-4 rounded bg-base-200 relative";
      //   divData.setAttribute("data-day-id", initCount);
      //   divData.innerHTML = `<select class="question-select w-full" name="question[${initCount}]"></select>`;
      //   // document.getElementById("dailyTask").innerHTML = divData;
      //   document.getElementById("dailyTask").appendChild(divData);

      //   $(`.question-select`).select2({
      //     data: data,
      //   });
      // });
    });
  </script>
</html>
