<ul
  class="sticky top-14 z-12 menu bg-info menu-horizontal rounded w-full justify-center"
>
  <li>
    <a href="/user">Profile</a>
  </li>
  <li>
    <a href="/user/myExam/history">Exam History</a>
  </li>
  <li>
    <a href="/user/quiz">Quiz History</a>
  </li>
</ul>
